body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.navbar-default {
  /*background-image: none !important;*/
  background: none !important;
}

.contract-access-input {
  margin: 40px;
}

.how-it-works-item {
  font-size: 18px;
  margin-top: 10px;
}

.error-text {
  color: red;
}

.login-textarea {
  width: 100%;
}
.content-area {
  margin-top: 20px;
}

.sv-green {
  color: #668960;
}

.upload-page {
  margin-top: 20px;
}

.no-file-text {
  margin: 20px;
  padding: 20px;
}

/*Col 1*/
.file-uploader {
  background: white;
  border-radius: 25px;
  margin-bottom: 5px;
  padding: 20px;
}

.help-text {
  font-style: italic;
}

.delete-button {
  margin-top: 20px;
  margin-bottom: 20px;
}

/*Col 2*/
.file-chain {
  background: white;
  border-radius: 25px;
  margin-bottom: 5px;
  min-height: 400px;
  padding: 20px;
  overflow: hidden;
}

.no-results {
  margin: 20px;
  font-size: 16px;
  padding: 5px;
}

.file-detail {
  overflow: hidden;
}

.create-button {
  margin-top: 25px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.form-control {
  padding: 15px;
  width: 500px;
  max-width: 90%;
  text-align: center;
  margin: 0 auto;
  margin-top: 20px;
}

.search-button {
  padding-left: 15px;
  padding-right: 15px;
  margin: 20px;
}

.about-section {
  max-width: 800px !important;
  line-height: 28px;
  font-size: 20px;
}

.about-page .files-page {
  padding: 20px;
}

.about-page h1 {
  padding: 20px;
}

.header-text-h2 {
  font-size: 24px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.header-text-h3 {
  font-size: 16px;
}

.navbar-nav > li > a {
  /*border-bottom: 2px solid blue;*/
  background: transparent !important;
  /*color: white !important;*/
  font-weight: bolder;
}

.navbar-brand {
  color: black !important;
}

.header-bar-logo {
  height: 28px;
  cursor: pointer;
}

.rotating-bold {
  font-weight: bold;
}

/*Custom CSS files below*/

.loading-margin {
  margin-top: 20px;
}

.App {
  min-height: 100vh;
  height: 100%;
  /* background: linear-gradient(276deg, rgba(174,195,238,1) 0%, rgba(68,59,129,0.2903536414565826) 22%); */
}

.timeline-area {
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 20px;
}

p {
  font-size: 16px;
}

.file-info-page,
.cert-page {
  text-align: center;
}

.cert-image {
  margin: 20px;
  width: 100px;
}

.header-row {
  background: #eef9fd;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 24px;
  color: #555;
}

textarea {
  padding: 10px;
}

.home-page {
  text-align: center;
  /* background-image: url("assets/homes.png") !important; */
  background-repeat: repeat-x;
  background-size: 150px auto;
  /* background-attachment: fixed; */
  min-height: 94vh;
  background-position: bottom;
  /* padding-bottom: 50px; */
  /* background: linear-gradient(90deg, #efd5ff 0%, #515ada 100%); */
  /* background: rgb(174,195,238); */
  /* background: linear-gradient(276deg, rgba(174,195,238,1) 0%, rgba(68,59,129,0.2903536414565826) 22%); */
  /*background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);*/
  /* background-size: 225px auto; */
}

.navbar {
  margin-bottom: 0px !important;
  border-bottom: 1px solid #999;
}

.file-block {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 10px;
  margin: 10px;
  text-align: start;
  background: #e6eeee;
  cursor: pointer;
}

.access-text {
  padding: 20px;
  color: green;
}

.file-block:hover {
  background: #cde4ee;
}

.footer-text {
  font-style: italic;
}

.react-rotating-text-cursor {
  animation: blinking-cursor 0.8s cubic-bezier(0.68, 0.01, 0.01, 0.99) 0s
    infinite;
}

@keyframes blinking-cursor {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.pointer {
  cursor: pointer;
}

.quorum-logo {
  width: 60px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 5px;
}

.centered {
  text-align: center;
  margin: 0 auto;
  vertical-align: center;
}

.header-logo {
  padding-bottom: 10px;
  margin-bottom: 20px;
  margin-top: 50px;
  border-bottom: 1px solid black;
  width: 250px;
}

.header-logo-home {
  margin-top: 100px;
}

.modal-body {
  font-size: 14px;
}

.footer {
  margin-top: 100px;
  padding-bottom: 50px;
}

.neo-green {
}
